:root {
    --clr-dark: rgb(0,0,0);
    --clr-light: rgb(255,255,255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html {
    height: 100vh;
}

body {
    background-color: var(--clr-light);
}

.other-links {
    display: flex;
    justify-content: center;
}

.other-links a {
    text-align: center;
    color: var(--clr-dark);
}

.a-weather, .a-project2, .a-project3, .a-project4 {
    display: flex;
    color: snow;
    font-size: 1.5rem;
}

.a-project2, .a-project3, .a-project4 {
    opacity: 50%;
}

.project4 {
    border-right: 2px solid var(--clr-dark);
}

.weather1, .project2, .project3, .project4 {
    border-left: 2px solid var(--clr-dark);
    text-align: center;
    padding: 0 2rem 0 2rem;
}

.project2, .project3, .project4 {
    text-decoration: line-through;
    color: grey;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

header h1 {
    font-family: 'Handjet', cursive;
    font-size: 3.2rem;
    text-align: center;
    color: var(--clr-dark);
}

.darkmodetoggle {
    display: flex;
    justify-content: end;
}

.label-darkmode-toggle {
    width: 80px;
    height: 40px;
    position: relative;
    display: block;
    background-color: rgb(0, 0, 0);
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.label-darkmode-toggle:after {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    top: 3px;
    left: 2px;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(0, 0, 0));
    border-radius: 180px;
    box-shadow: inset 0px 5px 10px rgba(125, 125, 125, 0.5);
    transition: all 0.5s ease-in-out;
}

.input-darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.input-darkmode-toggle:checked + label {
    background: hsl(0, 0%, 100%);
}

.input-darkmode-toggle:checked + label:after {
    left: 78px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255));
}

.label-darkmode-toggle:active:after {
    width: 50%;
}

.label-darkmode-toggle svg {
    position: absolute;
    width: 25px;
    top: 9px;
    z-index: 100;
}

.label-darkmode-toggle svg.sun {
    left: 50px;
    transition: all 0.3 ease-in-out;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: #ffffff;
    fill: none;
}


.label-darkmode-toggle svg.moon {
    left: 6px;
    transition: all 0.3 ease-in-out;
    fill: rgb(0, 0, 0);
    height: 25px;
}

.input-darkmode-toggle:checked + label svg.sun {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: rgb(255, 255, 255);
    fill: none;
    height: 25px;
}

.input-darkmode-toggle:checked + label svg.moon {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
    stroke: #000000;
    fill: #000000;
}

.dark-mode {
    --clr-light: rgb(0,0,0);
    --clr-dark: rgb(255,255,255);
}

main {
    display: grid;
    justify-content: center;
    grid: 1rem;
    text-align: center;
    margin-top: 4rem;
}

main a {
    color: inherit;
    text-decoration: none;
    max-height: 100px;
}

main button {
    font-family: 'Love Ya Like A Sister', cursive;
    color: var(--clr-dark);
    cursor: pointer;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 5rem;
    background-color: transparent;
    box-shadow: 0px 0px 20px 0px var(--clr-dark);
    -webkit-box-shadow: 0px 0px 20px 0px var(--clr-dark);
    -moz-box-shadow: 0px 0px 20px 0px var(--clr-dark);
    text-shadow: 0px 0px 25px var(--clr-dark);
    margin: 2rem 0 2rem 0;
    backdrop-filter: brightness(150%);
    width: 25rem;
    transition: all 0.5s ease-in-out;
    border: 0;
}

main button:hover {
    backdrop-filter: brightness(200%);
    text-shadow: 0px 0px 25px var(--clr-light);
    box-shadow: 10px 10px 20px -10px var(--clr-light);
    -webkit-box-shadow: 10px 10px 20px -10px var(--clr-light);
    -moz-box-shadow: 10px 10px 20px -10px var(--clr-light);
    border: 1px solid var(--clr-dark);
}






